:root {
  --main-color: #006865;
  --main-hover: #000;
  --black-color: #000;
  --white-color: #fff;
  --border-radius: 24px;
  font-size: 16px;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo/Cairo-ExtraLight.woff2") format("woff2"), url("../fonts/cairo/Cairo-ExtraLight.woff") format("woff"), url("../fonts/cairo/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo/Cairo-Light.woff2") format("woff2"), url("../fonts/cairo/Cairo-Light.woff") format("woff"), url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo/Cairo-Regular.woff2") format("woff2"), url("../fonts/cairo/Cairo-Regular.woff") format("woff"), url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo/Cairo-SemiBold.woff2") format("woff2"), url("../fonts/cairo/Cairo-SemiBold.woff") format("woff"), url("../fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo/Cairo-Bold.woff2") format("woff2"), url("../fonts/cairo/Cairo-Bold.woff") format("woff"), url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo/Cairo-Black.woff2") format("woff2"), url("../fonts/cairo/Cairo-Black.woff") format("woff"), url("../fonts/cairo/Cairo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "cairo";
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
}

:root {
  --sal-duration: 1s;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) #fff;
  scroll-behavior: unset !important;
}

body {
  padding-top: 151px;
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 91.61px;
  }
}
.overflow {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  outline: 0 !important;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}

/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(135deg, var(--main-hover), var(--main-color));
  /* border-radius: 4px 4px 4px 4px; */
}

html[dir=ltr] .progress-bar {
  background-image: linear-gradient(135deg, var(--main-color), var(--main-hover));
}

@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgb(255, 255, 255);
  }
}
/*preloader*/
@media only screen and (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
.container-fluid {
  --bs-gutter-x: 30px;
}

.container {
  --bs-gutter-x: 30px;
}

.row {
  --bs-gutter-x: 30px;
}

.row > * {
  --bs-gutter-x: 30px;
}

/*lazyload*/
.lazy-img {
  transition: 0.5s;
}

.loading-img {
  background-color: #fafafa !important;
  position: relative;
  overflow: hidden;
}

.loading-img img {
  opacity: 0 !important;
  filter: blur(40px);
}

.loaded-img img {
  opacity: 1;
  filter: blur(0);
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 120px;
  inset-inline-start: 25px;
  display: none;
  padding: 0;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrow-top:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.fixed-what {
  position: fixed;
  bottom: 10px;
  inset-inline-start: 10px;
  z-index: 10;
  text-decoration: none !important;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 104, 101, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 104, 101, 0.4);
  animation: pulseWhats 2s infinite;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 94px;
  aspect-ratio: 1;
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .fixed-what {
    max-width: 50px;
  }
}

@keyframes pulseWhats {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 104, 101);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 104, 101, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(0, 104, 101, 0);
  }
}
.fixed-what i:hover {
  text-decoration: none;
  color: var(--white-color);
  box-shadow: inset 0 0 0 2em var(--main-hover);
}

@media (max-width: 767px) {
  .arrow-top {
    bottom: 70px;
    inset-inline-start: 15px;
  }
  .fixed-what {
    position: fixed;
    bottom: 10px;
    inset-inline-start: 10px;
  }
  .fixed-what i {
    width: 50px;
    height: 50px;
  }
}
.main-btn {
  min-width: 156px;
  max-width: 170px;
  height: 54px;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(30deg, var(--main-color) 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .main-btn {
    min-width: 110px;
    height: 45px;
    font-size: 14px;
  }
}

.main-btn:hover {
  color: var(--white-color);
  background-position: 100%;
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

.header-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--white-color);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.header-section.fixed {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);
}

.header-section.fixed::after {
  visibility: visible;
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}
.fixed .header {
  padding: 15px 0;
}

@media (max-width: 1199px) {
  .fixed .header {
    padding: 15px 0;
  }
}
@media (max-width: 991px) {
  .fixed .header {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .fixed .header {
    padding: 15px 0;
  }
}
.logo {
  display: flex;
  width: 115px;
  max-width: 115px;
  max-height: 105px;
  transition: all 0.3s ease-in-out;
}

.logo img {
  height: 100%;
  width: auto;
}

@media (max-width: 1199px) {
  .logo {
    max-width: 90px;
  }
}
@media (max-width: 991px) {
  .logo {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 80px;
  }
}
.fixed .logo {
  width: 80px;
}

@media (max-width: 1199px) {
  .fixed .logo {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .fixed .logo {
    width: 60px;
  }
}
.menu-btn {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 24px;
  width: 18px;
  position: relative;
  z-index: 999;
}

.menu-btn .hamburger-lines {
  height: 14px;
  width: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.menu-btn .hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  transition: all 0.4s ease-in-out;
}

.menu-btn.active {
  margin-top: 15px;
  margin-inline-end: 15px;
}

.menu-btn.active .hamburger-lines .line1 {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.menu-btn.active .hamburger-lines .line2 {
  transform: scaleY(0);
}

.menu-btn.active .hamburger-lines .line3 {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
}

.menu-btn.active .hamburger-lines .line {
  background-color: var(--white-color);
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 991px) {
  .menu-btn {
    display: block;
  }
}
.nav {
  display: flex;
  align-items: center;
  gap: 56px;
}

@media (max-width: 1199px) {
  .nav {
    gap: 30px;
  }
}
.nav-link {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  color: var(--black-color);
  font-weight: 400;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.nav-link:after {
  content: "";
  position: absolute;
  top: 100%;
  inset-inline-start: 0;
  background-image: url(../images/nav.svg);
  width: 21px;
  height: 6px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-color);
}

.nav-link:hover {
  opacity: 0.8;
}

.nav-link.active:after {
  visibility: visible;
  opacity: 1;
}

.nav-link.active:hover {
  opacity: 1;
}

@media (max-width: 1199px) {
  .nav-link {
    font-size: 16px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: 400px;
    z-index: 10;
    margin: 0;
    padding: 0;
    display: none;
  }
  .navbar .nav {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-radius: 15px;
    position: relative;
    margin: 0;
    background: linear-gradient(225.17deg, #006865 0.3%, #417e7c 39.59%, #01ddd6 100%);
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    opacity: 0;
  }
  .navbar .nav.active {
    opacity: 1;
    transform: scale(1);
  }
  .navbar .nav-item {
    margin: 10px 0;
  }
  .navbar .nav-item ~ .nav-item {
    margin-inline: 0;
  }
  .navbar .nav-link {
    font-weight: 400;
    font-size: 17px;
    color: var(--white-color);
  }
  .navbar .nav-link::after {
    display: none;
  }
  .navbar .nav-link:hover {
    color: var(--white-color);
  }
  .navbar .nav-link.active {
    font-weight: 700;
    color: var(--white-color);
  }
}
.main-section {
  background-color: var(--main-color);
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 128px 0;
}
@media only screen and (max-width: 991px) {
  .main-section {
    padding: 60px 0;
  }
}
.main-section::after {
  content: "";
  background-image: url(../images/main-bg.png);
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  opacity: 0.02;
}

.main-container {
  display: flex;
  align-items: center;
  max-width: 1081px;
  margin: 0 auto;
  gap: 43px;
}
@media only screen and (max-width: 991px) {
  .main-container {
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
  }
}

.main-content {
  width: 100%;
  text-align: start;
  color: var(--white-color);
}
@media only screen and (max-width: 991px) {
  .main-content {
    text-align: center;
  }
}

.main-img {
  width: 418px;
  aspect-ratio: 418/362;
  flex-shrink: 0;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .main-img {
    width: 100%;
    max-width: 418px;
    margin: 0 auto;
  }
}
.main-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 2;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .main-title {
    font-size: 26px;
    line-height: 44px;
  }
}

.main-pargh {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 34px;
}
@media only screen and (max-width: 767px) {
  .main-pargh {
    font-size: 16px;
    line-height: 28px;
  }
}

.main-btn-cont {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media only screen and (max-width: 991px) {
  .main-btn-cont {
    justify-content: center;
  }
}

.main-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 48px;
  min-width: 184px;
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--white-color);
}
.main-link:hover {
  background-color: transparent;
  border-color: var(--white-color);
}

.main-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.main-more:hover {
  color: var(--white-color);
}

.vision-section,
.about-section {
  padding-top: 120px;
}
@media only screen and (max-width: 991px) {
  .vision-section,
  .about-section {
    padding-top: 60px;
  }
}

.about-container {
  display: flex;
  align-items: center;
  gap: 65px;
}
@media only screen and (max-width: 1199px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

.about-info {
  width: 100%;
  max-width: 432px;
  flex-shrink: 0;
}

.about-icon {
  width: 100%;
  max-width: 66px;
  max-height: 66px;
  margin-bottom: 35px;
}
.about-icon img {
  width: 66px;
}

.about-head {
  font-weight: 700;
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 15px;
}

.about-pargh {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-color);
  line-height: 30px;
  margin-bottom: 0;
}

.about-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 10px;
}
@media only screen and (max-width: 767px) {
  .about-features {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.about-item {
  width: 100%;
  overflow: hidden;
  padding: 20px 26px 24px 18px;
  border: 1px solid rgba(200, 191, 176, 0.3411764706);
  box-shadow: 10px 12px 21px 0px rgba(200, 191, 176, 0.2);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .about-item {
    padding: 20px;
    gap: 15px;
  }
}
.about-item:hover {
  border-color: var(--main-color);
}

.item-img {
  width: 58px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 0;
}

.about-item-flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 10px;
}

.item-head {
  font-weight: 700;
  font-size: 20px;
  color: var(--black-color);
  margin-bottom: 0;
}

.item-pargh {
  font-weight: 400;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.53);
  margin-bottom: 0;
}

.vision-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;
}
@media only screen and (max-width: 991px) {
  .vision-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.vision-item {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.vision-item:nth-of-type(2) img {
  padding-top: 6px;
}

.vision-img {
  width: 41px;
  height: 36.2px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-inline-start: 12px;
}
.vision-img::after {
  content: "";
  width: 28px;
  height: 28px;
  background-color: #c8bfb0;
  display: inline-block;
  position: absolute;
  top: 0;
  inset-inline-start: -7px;
  z-index: -1;
}

.vision-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vision-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--black-color);
  margin-bottom: 0;
}

.vision-pargh {
  font-weight: 600;
  font-size: 16px;
  color: #314e37;
  margin: 0;
}

.testimonials-section {
  padding-top: 100px;
}
@media only screen and (max-width: 991px) {
  .testimonials-section {
    padding-top: 60px;
  }
}

.testimonials-container {
  margin-inline-end: 17.9%;
  padding-bottom: 20px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .testimonials-container {
    margin-inline-end: 8%;
  }
}

.testimonials-item {
  width: 100%;
  border-radius: 0px 100px 0px 0px;
  border: 1px solid var(--main-color);
  padding: 56px 61px 12px 226px;
  text-align: start;
  position: relative;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .testimonials-item {
    padding: 40px 30px 12px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
  }
}

.testimonials-icon {
  position: absolute;
  inset-inline-end: 87px;
  top: -73.5px;
}
@media only screen and (max-width: 991px) {
  .testimonials-icon {
    inset-inline-end: 45px;
    max-width: 60px;
    top: -35px;
  }
}

.testimonials-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  .testimonials-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.testimonials-pargh {
  font-weight: 400;
  font-size: 18px;
  color: var(--black-color);
  margin-bottom: 90px;
  line-height: 42px;
}
@media only screen and (max-width: 991px) {
  .testimonials-pargh {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 28px;
  }
}

.testimonials-name {
  font-weight: 700;
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .testimonials-name {
    font-size: 16px;
  }
}

.testimonials-speciality {
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .testimonials-speciality {
    font-size: 14px;
  }
}

.testimonials-img {
  position: absolute;
  bottom: -18.21px;
  inset-inline-end: -157.5px;
}
@media only screen and (max-width: 991px) {
  .testimonials-img {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    text-align: center;
    inset-inline-end: -50px;
    max-width: 367px;
  }
}

.testimonials-hero {
  border-radius: 0px 41px 0px 100px;
  overflow: hidden;
  aspect-ratio: 366.39/514.23;
  max-width: 366.39px;
  width: 100%;
}
.testimonials-hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials-mosque {
  aspect-ratio: 1;
  max-width: 209px;
  position: absolute;
  inset-inline-start: -104px;
  bottom: -26px;
  max-width: 57%;
}
@media only screen and (max-width: 991px) {
  .testimonials-mosque {
    inset-inline-start: -50%;
    transform: translateX(-38%);
  }
}

/*                      societies-section                      */
.partners-section,
.societies-section {
  padding-top: 170px;
}
@media only screen and (max-width: 991px) {
  .partners-section,
  .societies-section {
    padding-top: 60px;
  }
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .section-title {
    flex-direction: column;
    justify-content: center;
  }
}

.section-head {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 0;
}

.more-ancor {
  font-weight: 400;
  font-size: 20px;
  color: var(--black-color);
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.more-ancor:hover {
  color: var(--main-color);
}

.societies-slider {
  position: relative;
}

.societies-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  /* max-width: 166px;
    max-height: 166px; */
  width: 100%;
  aspect-ratio: 1;
  margin: 0;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

.swiper-slide-active .societies-figure::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #3a3a3a 0%, rgba(58, 58, 58, 0.604911) 58.78%, rgba(217, 217, 217, 0) 100%);
  transform: scaleX(-1);
}
@media only screen and (max-width: 1199px) {
  .swiper-slide-active .societies-figure::after {
    display: none;
  }
}

.swiper-slide-duplicate-prev .societies-figure::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #3a3a3a 0%, rgba(58, 58, 58, 0.604911) 58.78%, rgba(217, 217, 217, 0) 100%);
}
@media only screen and (max-width: 1199px) {
  .swiper-slide-duplicate-prev .societies-figure::after {
    display: none;
  }
}

.societies-img {
  max-height: 100%;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.societies-figure:hover .societies-img {
  transform: scale(1.02);
}

.societies-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.societies-slider .swiper-btn:hover {
  color: var(--main-color);
}

@media (min-width: 1320px) {
  .societies-slider .swiper-btn {
    display: flex;
  }
}
.testimonials-slider .swiper-btn i,
.societies-slider .swiper-btn i {
  z-index: 2;
}

.societies-slider .swiper-btn.swiper-btn-next {
  left: 35px;
}

.societies-slider .swiper-btn.swiper-btn-prev {
  right: 35px;
}

.societies-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@media (max-width: 1320px) {
  .societies-slider .swiper-pagination {
    display: flex;
  }
}
.societies-slider .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: #dedede;
  opacity: 1;
  margin: 0 3px;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.societies-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-color);
}

.societies-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-color);
  opacity: 1;
}

.swiper-btn {
  cursor: pointer;
}

/*                                  societies slider                    */
/*                                  partners slider                    */
.partners-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media only screen and (max-width: 991px) {
  .partners-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}

.partners-title {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .partners-title {
    width: 100%;
  }
}

.partners-slider {
  position: relative;
  overflow: hidden;
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .partners-slider {
    width: 100%;
  }
}
.partners-slider .swiper-slide {
  display: flex;
  align-items: center;
  gap: 24px;
}
.partners-slider .swiper-slide-active {
  padding-inline-end: 100px;
}
.partners-slider .swiper-slide-duplicate-active {
  padding-inline-start: 100px;
}

.partners-head {
  font-weight: 700;
  font-size: 30px;
  color: var(--white-color);
  margin-bottom: 10px;
  background-color: var(--main-color);
  width: -moz-max-content;
  width: max-content;
  padding: 4px 2px;
}
@media only screen and (max-width: 991px) {
  .partners-head {
    margin: 0 auto 10px;
  }
}

.partners-pargh {
  font-weight: 600;
  font-size: 16px;
  color: var(--black-color);
  margin-bottom: 18px;
}

.partners-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  max-width: 121px;
  margin: 5px;
}

.partners-section .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.partners-section .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: #dedede;
  opacity: 1;
  margin: 0 3px;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.partners-section .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-color);
}

.partners-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-color);
  opacity: 1;
}

footer {
  position: relative;
  overflow: hidden;
  background-color: var(--main-color);
  z-index: 1;
  margin-top: 160px;
  padding: 88px 0 30px;
}
@media only screen and (max-width: 991px) {
  footer {
    margin-top: 60px;
    padding: 40px 0 20px;
  }
}
footer::after {
  content: "";
  background-image: url(../images/main-bg.png);
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  opacity: 0.02;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 70px;
}
@media only screen and (max-width: 767px) {
  .social {
    gap: 20px;
    margin-bottom: 40px;
  }
}

.social a {
  text-decoration: none !important;
}

a.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 65px;
  font-size: 28px;
  color: #fff;
  border-radius: 20px;
  background-color: rgba(201, 192, 178, 0.1);
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  a.social-link {
    width: 50px;
  }
}
a.social-link img {
  max-width: 32px;
}
@media only screen and (max-width: 767px) {
  a.social-link img {
    max-width: 24px;
  }
}

a.social-link:hover {
  background-color: rgba(201, 192, 178, 0.3);
}

.copy-right {
  display: block;
  font-size: 25px;
  font-weight: 500;
  color: var(--white-color);
  text-align: center;
}
.copy-right a {
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .copy-right {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copy-right a {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */